.navbar.col-lg-12.d-flex.justify-content-around.align-items-center{
    border-bottom: 1px solid black;
}

/* Cor de fundo */
body{
    background-color: #dee2e6 ;
}

/* Cor de fundo navbar */
.bg-custom-gray{
    background-color: #f8f9fa ;
    color: #606060;
}

/* Tirando a cor de fundo do icone */
.bg-custom-gray img{
    background-color: transparent;
    border: none;
}


/* Definindo uma altura menor para o carrossel */
#carousel .carousel-inner{
    height: 45vh;
    
}

/* Definindo opacidade do carrossel e dos cards */
.overlay{
    filter: brightness(0.5);
}


/* Para os items do carrossel não fiquem com a imagem torta */
#carousel .carousel-item img{
    object-fit: cover;
    height: 100%;
}


/* Adicionando hover de deslocamento para o menu de cards */
.card.col-3:hover{
    transform: scale(1.04); 
}