
/* Cor de fundo */
body{
    background-color: #dee2e6;
}


    /* Navbar */

/* Cor de fundo navbar */
.bg-custom-gray{
    background-color: #f8f9fa ;
    color: #606060;
}

/* Definindo altura do navbar */
.navbar{
    height: 15vh;
}

/* Tirando a cor de fundo do icone */
.bg-custom-gray img{
    background-color: transparent;
    border: none;
}


    /* Carrossel */

/* Definindo uma altura menor para o carrossel */
#carousel .carousel-inner{
    height: 55vh;
    
}

/* Definindo opacidade do carrossel */
.overlay{
    filter: brightness(0.5);
}

/* Definindo opacidade do card */
.overlay-card-menu{
    filter: brightness(0.3);
}


/* Para os items do carrossel não fiquem com a imagem torta */
#carousel .carousel-item img{
    object-fit: cover;
    height: 100%;
}

    /* Card Menu */

/* Definindo altura e largura para o card menu */
.card.col-3{
    height: 150px;
    width: 300px;
    
}

/* Adicionando hover de deslocamento para o menu de cards */
.card.col-3:hover{
    transform: scale(1.02); 
}


/* Para a imagem ocupar todo o bloco */
.card-img{
    object-fit: cover;
    height: 100%;
}

