
/* Cor de fundo */
body{
    background-color: #F7F7F7;
}


/* Cor dos textos no geral */
.nav-link.fs-5, h1, h2, p{
    color: #333333;
}

    /* Navbar */


    /* Definindo borda ao fim da secção */
.navbar.col-12.d-flex.justify-content-around.align-items-center.bg-custom-gray{
    border-bottom: #D2691E solid 3px;
}

/* Definindo altura do navbar */
.navbar{
    height: 17vh;
}

/* Tirando a cor de fundo do icone */
.bg-custom-gray img{
    background-color: transparent;
    border: none;
}



/* Cor dos textos menu da navbar (Ativado) */
.nav-link.active.fs-5{
    color: #D2691E;
}

    /* Carrossel */

/* Definindo uma altura menor para o carrossel */
#carousel .carousel-inner{
    height: 55vh;
    
}

/* Definindo opacidade do carrossel */
.overlay{
    filter: brightness(0.5);
}

/* Definindo opacidade do card */
.overlay-card-menu{
    filter: brightness(0.3);
}


/* Para os items do carrossel não fiquem com a imagem torta */
#carousel .carousel-item img{
    object-fit: cover;
    height: 100%;
}

    /* Card Menu */


/* Cores dos botões dos cards */
.btn{
    background-color: #D2691E;
    color: #fff;
}

/* Hover dos botões */
.btn:hover {
    background-color:  #FFD580;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    color: #333333;
}


/* Definindo altura e largura para o card menu */
.card.col-3{
    height: 150px;
    width: 300px;
    
}

/* Adicionando hover de deslocamento para o menu de cards */
.card.col-3:hover{
    transform: scale(1.02); 
}


/* Para a imagem ocupar todo o bloco */
.card-img{
    object-fit: cover;
    height: 100%;
}

/* Menu de produtos */


/* Definindo uma delitmição para área de produtos */
.container{
    border: #D2691E solid 2px;
    
}


/* Definindo altura e largura do card */
.d-flex.flex-column.align-items-center.align-items-center{
    height: 100px;
    width: 100px;
    
}
